body {
    background-color: #1C1C21;
    font-family: Arial, sans-serif;
}

.page_content {
    height: 100vh;
    position: relative;
}

.nav_options {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    align-items: center;
}

ul {
    list-style: none;
}

.nav_options li {
    margin-right: 17px;
}

.nav_options li a {
    color: #BFBFBF;
    text-decoration: none;
    font-size: 13px;
}

nav .nav_options .apps-icon {
    background-image: url('apps-icon-48dp.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 24px;
    height: 24px;
}

.nav-button {
    background-color: #3569C3;
    border: none;
    border-radius: 1.5px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 6% 1.8%;
    width: 110px;
    font-size: 14px;
}

.main_container {
    display: flex;
}

.main_section-content {
    display: flex;
    flex-direction: column;
    padding: 10%;
    align-items: center;
}

.main_section-content img {
    width: 272px;
    height: 92px;
}

.main_section-language {
    margin-top: 15px;
    text-align: center;
}

.main_section-language p {
    color: #BFBFBF;
    font-size: 13px;
}

.main_section-language a {
    text-decoration: none;
    color: #948ED5;
    margin: 0 3.6px;
}

.main_section-language a:hover {
    text-decoration: underline;
}

.searchbox {
    margin: 1.6%;
    background-color: #242424;
    margin-bottom: 20px;
    padding: 0px 15px;
    font-size: 17px;
    border-radius: 30px;
    border: 0.1px solid rgba(191, 191, 191, 0.10);
    display: flex;
    align-items: center;
}

.searchbox .search-icon {
    width: 20px;
    height: 20px;
    background-image: url(search-black-48dp.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 9px;
}

.searchbox .mic-icon {
    background-image: url(keyboard_voice-black-48dp.svg);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 9px;
}

.input {
    background-color: transparent;
    color: #BFBFBF;
    font-family: 'Arial', sans-serif;
    border: none;
    outline: none;
    height: 45px;
    width: 470px;
}

.searchbox:hover {
    border: none;
}

::placeholder {
    color: none;
}


/* .main_section-buttons {
    widht: 100%
    height:
} */

.main_section-buttons {
    margin-top: 9px;
}

.button {
    background-color: #202020;
    border: none;
    border-radius: 3px;
    color: #BFBFBF;
    cursor: pointer;
    padding: 3% 1.8%;
    width: 154px;
    font-size: 14px;
    margin: 0 3.5px;
}

.button:hover {
    border: 0.1px solid rgba(191, 191, 191, 0.10);
}

.footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    bottom: 0%;
    font-size: 14px;
}

.location {
    background-color: #262626;
    border-top: 1px solid #3B3B3B;
    color: #6C6C6C;
    padding: 1% 0;
    padding-left: 30px;
    font-size: 15px;
}

.location p {
    margin: 0px;
}

.footer_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #262626;
    border-top: 1px solid #3B3B3B;
    border-bottom: 1px solid #3B3B3B;
    padding: 1% 30px;
}

.footer_links ul {
    margin: 0;
    padding: 0;
}

.footer_links a {
    color: #BFBFBF;
    text-decoration: none;
    margin: 0 15px 0 0;
}

.footer_links-left {
    display: flex;
}

.footer_links-left_1 {
    display: flex;
}

.footer_links-right {
    display: flex;
}

@media (max-width: 540px) {
    .input {
        width: 100%;
    }
    .main_section-buttons {
        display: flex;
    }
    .button {
        width: 102.67px;
    }
    .footer_links-left {
        flex-direction: column;
    }
    .footer_links-left_1 {
        margin-bottom: 14.8px;
    }
    .main_section-content img {
        width: 181.33px;
        height: auto;
    }
}

@media (max-width: 840px) {
    .footer_links {
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    }
    .footer_links a {
        margin: 14px;
    }
    .footer_links ul {
        margin-bottom: 7.4px;
        margin-top: 7.4px;
    }
}